@import './base.css';
@import '/node_modules/primeicons/primeicons.css';
#app {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0.5rem;
  font-weight: normal;
  font-family: "Gilroy", sans-serif
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* @font-face {
  font-family: "Gilroy";
  src: url("./font/gilroy/Gilroy-Black.ttf");
} */

@font-face {
  font-family: 'Gilroy';
  src: url(fonts/Gilroy-Regular.ttf) ;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./font/gilroy/Gilroy-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./font/gilroy/Gilroy-Italic.woff) ;
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./font/gilroy/Gilroy-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./font/gilroy/Gilroy-Thin.ttf) ;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url(./font/gilroy/Ultra-Thin.ttf) ;
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./font/gilroy/Gilroy-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Gilroy';
  src: url(./font/gilroy/Gilroy-BoldItalic.ttf);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url(./font/gilroy/Gilroy-Bold.ttf);
  font-style: normal;
  font-weight: 900;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
.carousel__next, .carousel__prev {
  background-color: white;
  border-radius: 1rem;
  width: 1.5rem;
    height: 1.5rem;
}